@model List<Review>

@{
ViewData["Title"] = "Reviews";
}

<script>
    <!--Temp fix to prevent resubmission of data on page refresh-->
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>

<div class="row pageHeader">
    <h1>Eugene Fine Art Reviews</h1>
    <div class="col-8">
        <p>
            This page is dedicated to reviews left by users like you!
            We strive to improve our services, and would love to hear
            your feedback on how we do as a store or how our website
            preforms.
        </p>
    </div>
    <div class="col-4">
        <!-- Button for modal -->
        <div class="text-center">
            <button type="button" class="btn btn-light modalButton" data-bs-toggle="modal" data-bs-target="#createPostModal">
                Leave a review
            </button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="createPostModal" tabindex="-1" role="dialog" aria-labelledby="createPostModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createPostModalLabel">Leave a review</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Form input -->
                        <div class="formArea formStyle">
                            <form method="post" id="GallerySubmission">
                                <div class="col">
                                    <!-- Submission Inputs -->
                                    <div class="row">
                                        <label for="Reviewer">Username:</label>
                                        <input type="text" name="Reviewer.Name" class="formInput">
                                    </div>

                                    <div class="row">
                                        <label for="Score">Score:</label>
                                        <input type="number" placeholder="1-10" name="Score" class="formInput" min="1" max="10">
                                    </div>
                                    
                                    <div class="row">
                                        <label>Comments:</label>
                                        <textarea name="Text" class="formTextArea"></textarea>
                                    </div>

                                    <input type="submit" value="Submit" style="margin-top: 5%;">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->
    </div>
</div>

<!-- Filter -->
<div class="d-flex justify-content-center" style="margin-bottom: 1vw;">
    <form method="post" action="/Store/ReviewFilter">
        <label name="score">Rating</label>
        <input name="score"/>
        <label name="date">Date</label>
        <input name="date" />
        <button type="submit" class="btn btn-secondary">Submit</button>
        <a href="/Store/Reviews" class="btn btn-danger">Reset</a>
    </form>
</div>

<!-- Review output area -->
<div class="container-fluid">
    @if (Model.Count > 0)
    {
        //flag for if story should be given a grey or white background to help visually break up stories
        bool alt = false;
        foreach (Review r in Model)
        {
            if (!alt)
            {
                <div class="review clearfix shadow bg-white rounded">
                    <h3>@r.Reviewer.Name | @r.Score / 10</h3>
                    <p>@r.Text</p>
                    <p class="text-end">@r.Date</p>
                </div>
                alt = !alt;
            }
            else
            {
                <div class="review clearfix shadow bg-white rounded">
                    <h3>@r.Reviewer.Name | @r.Score / 10</h3>
                    <p>@r.Text</p>
                    <p class="text-end">@r.Date</p>
                </div>
                alt = !alt;
            }
        } 
    }
    else
    {
        <div class="text-center">
            <h3>There are no reviews yet.</h3>
        </div>
    }
</div>